body {
  font-family: "Lucida Console", Monaco, monospace;
}

#mapa {
  width: 100%;
  height: 220px;
  border: 1px solid black;
}

.tweet {
  width: 220px;
  min-height: 60px;
  height: auto;
  position: relative;
  padding: 5px 6px;
}

.tweet-item {
  list-style-type: none;
}

.tweet-link {
  text-decoration: none;
  display: block;
  color: black;
}

.tweet-link:hover {
  background-color: #ccc;
}

figure {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 100%;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}

figure img { width: 100%; }

.text {
  display: inline-block;
  vertical-align: middle;
}

.text h4 {}